<div class="jumbotron">   
  <% unless params[:term]%>
  <h2>Últimas perguntas cadastradas...</h2>
  <% else %>
  <h2><%= "Resultados da procura \"#{params[:term]}\"..."%></h2>
  <% end %>
</div>

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path, local: true do |form| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-weight:bold;"><%= question.description %></h3>
      </div>
      <div class="panel-body">
        <ul>
          <% question.answers.each do |answer| %>
            <li style="list-style: none">
              <div class="radio">
                <label>
                  <%= radio_button_tag 'answer', answer.id %>
                  <%= answer.description %>
                </label>
              </div>
            </li>
          <% end %>
          <li style="list-style: none">
            <%= form.submit "Responder", class:"btn btn-outline-secondary" %>
          </li>	
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<div class="text-center">
  <%= paginate @questions %>
</div>